 .score-entry-tab {
   display: flex;
   justify-content: center;
   align-items: flex-start;
   flex-direction: row;
   text-align: center;
 }
 
 #score-input-modifiers {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 }
 /* This is a bit obnoxious because it's an explicit override of the styling for .score-entry-tab */
.score-switches {
    text-align: left ;
 }
 
#score-submission-button {
    display: flex;
    justify-content: center;
    
}

#score-submission-button>button {
    min-width: 30vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.assist-button-well {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

/* Governs the alignment of buttons in the assist well */
.assist-button-well > div > .checkbox-group-buttons > .btn-group-lg {
    display: grid;
    align-content: center;
    justify-content: space-around;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    align-items: center;
    column-gap: 1vw;
    row-gap: 2vh;
}

.assist-button-well > div > .checkbox-group-buttons > .btn-group-lg > div > .btn {
    width: 100%;
    place-self: center;
}