.score-modal-header {
    text-align: center
}
 
 .score-entry-tab {
   display: flex;
   justify-content: center;
   align-items: flex-start;
   flex-direction: row;
   text-align: center;
 }
 
 #score-input-modifiers {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-height: 25vh;
 }
 
 .score-details {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
 }
 
 .previous-score {
     display: flex;
     flex-direction:column;
     justify-content: start;
     align-items: center;
 }
 /* This is a bit obnoxious because it's an explicit override of the styling for .score-entry-tab */
.score-switches {
    text-align: left;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
 }
 
.score-submission-button {
    display: flex;
    justify-content: center;
    
}

.score-submission-button>button {
    min-width: 30vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.assist-button-well {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.scoring-header {
    text-align: center;
}
